/* COLOUR SCHEME: 
.first-color { 
  background: #ececec; 
}
  
.second-color { 
  background: #9fd3c7; 
}

.third-color { 
  background: #385170; 
}

.fourth-color { 
  background: #142d4c; 
} */

body {
  margin: 1em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #9fd3c7;
  background-image: url("./Assets/background.png");
  background-size: 50%;
  background-repeat: repeat;
  background-blend-mode: soft-light, luminosity;
}

.navigationContainer {
  display: flex;
  justify-content: center;
}

#linkToForm, #linkToLeaderboard {
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  margin-right: 1vw;
  margin-left: 1vw;
  min-width: fit-content;
  padding: 1em;
  font-weight: bolder;
  font-size: 1em;
  margin-bottom: 22px;
  border: 2px solid #385170;
  border-radius: 50px;
  margin-top: 10px;
  background-color: #faf5e4;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  text-decoration: none;
}
#linkToForm:hover {
  scale: 1.03;
}

#linkToLeaderboard:hover {
  scale: 1.03;
}

#linkToForm:visited {
color : #101821 ;
}

#linkToLeaderboard:visited {
  color : #101821 ;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  display: flex;
  justify-content: center;
  transition: background-size 250ms;
  transition-timing-function: ease-in-out;
  font-size: 100px;
  margin-bottom: 1vh;
  margin-top: 2vh;
  
}
h3 {
  display: flex;
  justify-content: center;
  transition: background-size 250ms;
  transition-timing-function: ease-in-out;

}

/* Header Animation */
#animate {
  transition: background-size 250ms;
  transition-timing-function: ease-in-out;
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 0% 4px;
  line-height: 1.7em;
  text-decoration: none;
  
  &:hover, &:focus {
    background-size: 100% 4px;
  }
}

/* GameBoard Style */
.E, .X, .O {
  scale: 1.0;
  transition:0.35s;
  animation-timing-function: ease-in-out;
  display: flex;
  align-content: center;
  align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    contain: content;
    font-size: 10em;
    border-radius: 5px;
    background-color: #faf5e4;
    border: 41px;
    /* padding: 35px; */
    margin: 8px;
    min-height: 240px;
    min-width: 200px;
   
    
}

/* .E:hover, .X:hover, .O:hover {
} */

.E{
  color: rgba(0, 0, 0, 0);
  transition: 0.0s;
}

.A{
  background-image: url("./Assets/face.png");
  background-size: contain;
}


.cellWrapper {
  display: flex;
  justify-content: center;
  backdrop-filter: blur(1.5px);
  border-radius: 10px;


}

.cells {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  align-items: center;
  justify-content: start;
  align-content: space-between;
  background-color: #9fd3c7;
  border-radius: 5px;


}

.cells:hover {
  cursor: pointer;
}


#gameResult {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: xx-large;
}

/* Light Mode styles */
.light-mode, #root {
  transition:0.9s;
  animation-timing-function: ease-in-out;
  /* background-color: #9fd3c7; */
  color: #385170;
}

/* Dark mode styles */
.dark-mode {
  transition:0.9s;
  animation-timing-function: ease-in-out;
  background-color: #385170;
  color: #faf5e4
}

#game-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #385170;
}

#difficulty{
  height:50px;
  width: 500px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #faf5e4;
  
}

#player{
  height:50px;
  width: 500px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: #faf5e4;
}

#submit-form{
  height: 50px;
  width: 500px;
  font-weight: bold;
  color:#385170 ;
  background-color: #faf5e4;
  border-radius: 15px;
  margin-bottom: 20px;
}

#whole-form-div{
border:  5px solid #385170;
margin-right: 600px;
margin-left: 600px;
padding: 20px;
border-radius: 10px;
background-color:#faf5e4; ;
}

#submit-form:hover{
  cursor:pointer ;
  background-color: #385170 ;
  color:#faf5e4 ;
}

select{
  font-size: medium;
}

#difficulty-label{
  font-weight: bold;
  margin-bottom: 20px;
}

#player-label{
  font-weight: bold;
  margin-bottom: 20px;
}
  
button {
  background-color: #385170;
  color: #faf5e4;
  border: none;
  padding: 4px 8px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dark-mode-toggle {
  display: flex;
  justify-content: center;
}
#darkModeButton {
  font-size: 2em;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
#darkModeButton:hover {
  cursor: pointer;

}
#dardModeCheckbox {
  display: none;
}

#headingBottomBorder {
  display: flex;
  justify-content: center;
  background-color: white;
  height: 2.5px;
  border-radius: 5px;
  margin: 1vw;
}

footer {
  display: flex;
  justify-content: center; 
}

/* leaderboard */
.leaderboardTable {
  background-color: #faf5e4;
  color: #142d4c;
  border: none;
  padding: 8px 16px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  width: 70%;
  font-size: 20px;
  margin: 15px auto;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.leaderboardTable th, .leaderboardTable td {
  border: 1px solid #142d4c; 
  padding: 12px; 
  text-align: center;
}

.leaderboardTitle {
  background-color: #faf5e4;
  color: #142d4c;
  width: 20%;
  text-align: center;
  border-radius: 4px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #385170;
}

.copyright {
  font-size: large;
  font-weight: bold;
  text-align: center;
}