body {
  margin: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.EMPTY {
  opacity: 0.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  display: flex;
  justify-content: center;
}

.cells {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 50px;

  align-items: stretch;
  justify-items: center;
  justify-content: center;
  align-content: center;
}


#gameResult {
  display: flex;
  justify-content: center;
}

/* Light Mode styles */
.light-mode {
  background-color: #9fd3c7;
  color: #385170;
}

/* Dark mode styles */
.dark-mode {
  background-color: #385170;
  color: #faf5e4;
}

body {
  transition-duration: 250;
  transition-timing-function: ease-in-out;
}