/* COLOUR SCHEME: 
.first-color { 
	background: #ececec; 
}
	
.second-color { 
	background: #9fd3c7; 
}

.third-color { 
	background: #385170; 
}

.fourth-color { 
	background: #142d4c; 
} */

body {
  /* margin: 1em; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #9fd3c7;
}

#linkToForm {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-right: 400px;
  margin-left: 400px;
  padding: 20px;
  font-weight: bolder;
  font-size: large;
  margin-bottom: 125px;
  border:  5px solid #385170;
  border-radius: 25px;
  margin-top: 10px;
  background-color: #faf5e4;
}

#linkToForm:visited {
color : #101821 ;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  display: flex;
  justify-content: center;
  transition: background-size 250ms;
  transition-timing-function: ease-in-out;
  
}
h3 {
  display: flex;
  justify-content: center;
  transition: background-size 250ms;
  transition-timing-function: ease-in-out;

}

/* Header Animation */
#animate {
  transition: background-size 250ms;
  transition-timing-function: ease-in-out;
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 0% 4px;
  line-height: 1.7em;
  text-decoration: none;
  
  &:hover, &:focus {
    background-size: 100% 4px;
  }
}

/* GameBoard Style */
.EMPTY, .X, .O {
  border-style: solid;
  border-radius: 5px;
  border-color: white;
  background-color:#9fd3c7;
  border: 10px;
  padding: 10px;
  margin: 10px;
}

.cells {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-content: start;
  align-content: space-between;
  background-color: #ececec;
  justify-items: center;
}

.cells:hover {
  cursor: pointer;
}


#gameResult {
  display: flex;
  justify-content: center;
}

/* Light Mode styles */
.light-mode, #root {
  transition:0.9s;
  animation-timing-function: ease-in-out;
  background-color: #9fd3c7;
  color: #385170;
}

/* Dark mode styles */
.dark-mode {
  transition:0.9s;
  animation-timing-function: ease-in-out;
  background-color: #385170;
  color: #faf5e4
}

#game-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #385170;
}

#difficulty{
  height:35px;
  width: 500px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #faf5e4;
  
}

#player{
  height:35px;
  width: 500px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: #faf5e4;
}

#submit-form{
  height: 35px;
  width: 500px;
  font-weight: bold;
  color:#385170 ;
  background-color: #faf5e4;
  border-radius: 15px;
  margin-bottom: 20px;
 
}

#whole-form-div{
border:  5px solid #385170;
margin-right: 600px;
margin-left: 600px;
padding: 20px;
border-radius: 10px;
background-color:#faf5e4; ;
}

#submit-form:hover{
  cursor:pointer ;
  background-color: #385170 ;
  color:#faf5e4 ;
}

select{
  font-size: medium;
}

#difficulty-label{
  font-weight: bold;
  margin-bottom: 20px;
}

#player-label{
  font-weight: bold;
  margin-bottom: 20px;
}
  
button {
  background-color: #385170;
  color: #faf5e4;
  border: none;
  padding: 4px 8px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dark-mode-toggle {
  display: flex;
  justify-content: center;
}
#darkModeButton {
  font-size: 2em;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
#darkModeButton:hover {

  font-size: 2.1em;
}
#dardModeCheckbox {
  display: none;
}

#headingBottomBorder {
  display: flex;
  justify-content: center;
  background-color: white;
  height: 2.5px;
  border-radius: 5px;
  margin: 1vw;
}



